// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;
$mixins    = base $scheme;

// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;

// ---------------------以下为自定义添加的-----------------------------

// 引入同级目录下的 buttons.css 样式表
@import "buttons.css";
  
// 增加底部图标跳动
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(1.1);}
    20%,40%{transform:scale(1.3);}
    50%,70%{transform:scale(1.1);}
    60%,80%{transform:scale(1.4);}
}

// 增加底部图标跳动 jump
#jump {
  color #ffffff;
  text-decoration: none;
  animation: heartAnimate 1.2s ease-in-out infinite;
}

// bgimg
body {
    background:url(/sr/images/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:cover;
}

#showPosts{
  display: none
}
#showCategory{
  display: none
}
#showTag{
  display: none
}